<html>
  <head>
    <title>Post</title>
  </head>
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
  <body>
    <h1>Yerevan</h1>
    <div id="map"></div>
    <script>
        function initMap() {
            let geoLoc = { lat: 40.177200, lng: 44.503490};
            let options = {
                zoom: 12,
                center: geoLoc
            };
            let map = new google.maps.Map(
                document.getElementById('map'),
                options
            );
            let marker = new google.maps.Marker({
                position: geoLoc,
                map: map
            });
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script>
      $(function () {
        $.post('/search', function (data) {
            console.log(data.post)
        });
      });
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTpYryuDFhZaCOwN3bDNkenimXCWwInBs&callback=initMap">
    </script>
  </body>
</html>